﻿@using RedCore
@using WebApplication2.Models
@model WebApplication2.Models.UserInfoViewModel

@{
    ViewBag.Title = "Просмотр пользователя";
}



<h2>Пользователь</h2>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")


@using (Html.BeginForm(Model == null ? "SaveUser" : "CreateUser", "Home", FormMethod.Post))
{
    @Html.HiddenFor(model => model.UserId)
    <table>
        <tr>
            <td>@Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.EditorFor(model => model.FirstName)</td>
            <td>@Html.ValidationMessageFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.EditorFor(model => model.LastName)</td>
            <td> @Html.ValidationMessageFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.EditorFor(model => model.Email)</td>
            <td> @Html.ValidationMessageFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.MobilePhone)</td>
            <td>@Html.EditorFor(model => model.MobilePhone)</td>
            <td>@Html.ValidationMessageFor(model => model.MobilePhone)</td>
        </tr>
        <tr>
            <td><input type="submit" value="Сохранить" /> </td>
            <td></td>
        </tr>
    </table>
}
<h4>Любимые исполнители</h4>
<table id="favoriteSingers" border="1" width="300">
    <tr>
        <td>Название</td>
        <td>Жанр</td>
    </tr>
    @if (Model.Singers == null || !Model.Singers.Any())
    {
       
    }
    else
    {




        foreach (var singer in Model.Singers)
        {
            @Html.Partial("SingerEditView", singer)
        }

    }
</table>

<p>Добавьте нового любимого исполнителя</p>
@Html.DropDownList("Genre", Model.Genres, "Жанр", new { onchange = @"Change()" })
@Html.DropDownList("Singers", new SelectList(string.Empty, "Value", "Text"), "Исполнитель")
<a href="#" id="add" style="display: none" onclick="addSinger()">Добавить</a>
<br/>
<a href="#" onclick="AddNewSinger()">Создать нового исполнителя и добавить к избранному</a>



<script type="text/javascript">
    function removeSinger(id) {

        $.ajax({
            url: '/home/removefavoritesinger/' + id,
            type: 'get',
            success: removeSingerOnClient(id),
            error: alertOnError
        });
    }

    function addSinger() {
        var id = $('#Singers :selected').val();
        $.ajax({
            url: '/home/addfavoritesinger/' + id,
            type: 'get',
            success: function (data) {
                AddSingerOnClient(data);
            },
            error: alertOnError
        });
    }



    function AddSingerOnClient(data) {
        $("#favoriteSingers").append(data);
    }


    function removeSingerOnClient(iden) {
        $("#" + iden).remove();
    }

    function alertOnError() {
        alert("Запроса к серверу завершился неудачей");
    }

    function Change() {
        $("#Singers").empty();
        var data = $("#Genre").val();
        if (data !== "")
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetByGenre", "Singer")',

                dataType: 'json',

                data: { genreId: data },
                success: function (singers) {
                    if (singers.length !== 0)
                        $("#add").show();
                    else
                        $("#add").hide();
                    $.each(singers, function (i, state) {
                        $("#Singers").append('<option value="' + state.SingerId + '">' +
                            state.Name + '</option>');


                    });
                },
                error: function (ex) {
                    $("#add").hide();
                    alert('Failed to retrieve states.' + ex);
                }
            });
        else {
            $("#add").hide();
            $("#Singers").append('<option>Исполнитель</option>');
        }

        return false;
    }

    function AddNewSinger() {

        $.ajax({
            url: '/Singer/AddNewFavoriteSinger',
            type: 'get',
            success: function (data) {
                AddSingerOnClient(data);
            },
            error: alertOnError
        });
    }

    function SaveAndAddNewSinger(id) {
        $.ajax({
            url: '/Singer/CreateNewSinger',
            type: 'POST',
            data: {
                name: $('#' + id).find('#Name').val(),
                genreId: $('#' + id).find('#ddl :selected').val()
            },
            success: function (data) {
                $('#' + id).remove();
                $.ajax({
                    type: 'POST',
                    url: '/home/addfavoritesinger/' + data.SingerId,
                    success: function (data1) {
                        AddSingerOnClient(data1);
                    },
                    error: alertOnError
                });



            },
            error: alertOnError
        });

    }






</script>
