﻿@model WebApplication2.Models.UserInfoModel

@{
    ViewBag.Title = "Просмотр пользователя";
}

<h2>Пользователь</h2>
@if (Model == null)
{
    <p>Информация о пользователе недоступа, нажмите кнопку редактировать для заполнения информации.</p>
}
else
{
    <table>
        <tr>
            <td>   @Html.DisplayNameFor(model => model.FirstName)</td>
            <td>@Html.DisplayFor(model => model.FirstName)</td>
        </tr>
        <tr>
            <td>   @Html.DisplayNameFor(model => model.LastName)</td>
            <td>@Html.DisplayFor(model => model.LastName)</td>
        </tr>
        <tr>
            <td>   @Html.DisplayNameFor(model => model.Email)</td>
            <td>@Html.DisplayFor(model => model.Email)</td>
        </tr>
        <tr>
            <td>   @Html.DisplayNameFor(model => model.MobilePhone)</td>
            <td>@Html.DisplayFor(model => model.MobilePhone)</td>
        </tr>
    </table>

    if (Model.Singers == null || !Model.Singers.Any())
    {
        <p>Нет любимых исполнителей</p>
    }
    else
    {
        <h4>Любимые исполнители</h4>
        <table>
            <tr>
                <td>Название</td>
                <td>Жанр</td>
            </tr>

            @foreach (var singer in Model.Singers)
            {
                @Html.Partial("SingerView",singer)
            }
        </table>
    }

}    
@Html.ActionLink("Редактировать", "EditUser", "Home")




