﻿@model WebApplication2.Models.SingerModel

@if (Model != null)
{
    <tr>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Genre.Name)</td>
    </tr>
}
