﻿@model WebApplication2.Models.SingerModel
@if (Model != null)
{
    <tr id=@Model.SingerId>
        <td>@Html.DisplayFor(model => model.Name)</td>
        <td>@Html.DisplayFor(model => model.Genre.Name)</td>
        <td><a href="#" onclick="removeSinger(@Model.SingerId) ">Удалить</a></td>
    </tr>
}