﻿@model WebApplication2.Models.SingerCreateViewModel


<tr id="@Model.Id">
    <td>@Html.EditorFor(model => model.Name, new { id = "Name" })</td>
    <td>@Html.Partial("~/Views/Shared/GenreListView.cshtml", @Model.Genres)</td>
    <td><a href="#" onclick="SaveAndAddNewSinger('@Model.Id')">Сохранить и добавить</a></td>
</tr>
